body {
    font: 300% "Century Gothic", Futura, sans-serif;
    margin: 20px;
    --bg-color: #181c28;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
    text-align: center;
  }

.runButton {
    height: 15%;
    width: 60%;
    font-size: 80%;
}

.outputText {
    font-size: 80%;
}

.infoText {
    font-size: 50%;
}

.outputBox {
    max-width: 90%;
}